* {
  padding: 0;
  margin: 0;
}

.icon-grid-container {
  width: 100%;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-presentation {
  margin: 0;
  flex-shrink: 0;
  flex-basis: 1;
  margin-top: 3rem;
  margin-bottom: 7rem;
  margin-left: 2.5rem;
  font-size: 55px;
}
.skills-presentations {
  display: grid;
  justify-content: space-evenly;
  gap: 0;
  width: 100%;
  height: 100%;
}

.icon-grid {
  border: 0.1rem solid white;
  border-radius: 2rem;
  width: 7.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset,
    rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
}
.icon-grid:hover {
  cursor: pointer;
}

.icons-skills-names {
}

.icon-tech {
  border-radius: 100%;
}
.icons-skills-names {
}

.external-link-github {
  width: 10rem;
  padding: 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  border: none;
  align-self: flex-end;
  margin-right: 6rem;
  margin-top: 4.6rem;
}
.external-link-github {
  background-color: hsl(259, 64%, 58%) !important;
  color: whitesmoke;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.external-link-github #link-github {
  background-color: hsl(259, 64%, 58%) !important;
  color: hsl(0, 0%, 16%) !important;
  transition: background-color 0.4s, color 0.4s;
}
.external-link-github:hover {
  background-color: hsl(259, 47%, 48%) !important;
}
.external-link-github:hover #link-github {
  background-color: hsl(259, 47%, 48%) !important;
  color: hsl(0, 0%, 16%);
}

#link-github {
  border: none;
  font-size: 30px;
  text-decoration: none;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}
.external-link-github:hover #link-github-description {
  background-color: transparent;
  color: whitesmoke;
}
#link-github-description {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  background: none;
}

/* Responsive part */

/* XS: Très petits appareils (moins de 640px) */
@media (max-width: 546px) {
  /* Ajoute ici tes styles pour les très petits écrans */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: grid;
    grid-template-columns: repeat(2, 1rem);
    justify-items: center;
    row-gap: 1.5rem;
    column-gap: 1rem;
  }
  .skills-presentation {
    font-size: 25px;
    margin-inline: auto;
  }
}

@media (min-width: 547px) {
  /* Ajoute ici tes styles pour les très petits écrans */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: grid;
    grid-template-columns: repeat(3, 1.7rem);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }
  .skills-presentation {
    font-size: 31px;
    margin-inline: auto;
  }
}
/* SM: Petits appareils (640px et plus) */
@media (min-width: 640px) {
  /* Ajoute ici tes styles pour les petits écrans */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: grid;
    grid-template-columns: repeat(3, 2.3rem);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    row-gap: 0.6rem;
    column-gap: 1.2rem;
  }
  .skills-presentation {
    font-size: 32px;
  }
}

/* MD: Appareils de taille moyenne (768px et plus) */
@media (min-width: 768px) {
  /* Ajoute ici tes styles pour les écrans de taille moyenne */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: grid;
    grid-template-columns: repeat(3, 1.5rem);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 0.8rem;
    column-gap: 1.4rem;
  }
  .skills-presentation {
    font-size: 36px;
  }
}

/* LG: Grands appareils (1024px et plus) */
@media (min-width: 1024px) {
  /* Ajoute ici tes styles pour les grands écrans */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: grid;
    grid-template-columns: repeat(3, 2.5rem);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1.6rem;
  }
  .skills-presentation {
    font-size: 40px;
  }
}

/* XL: Très grands appareils (1280px et plus) */
@media (min-width: 1280px) {
  /* Ajoute ici tes styles pour les très grands écrans */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-inline: 1.2rem;
  }
  .skills-presentation {
    font-size: 55px;
  }
}

/* FULL: Appareils pleine largeur */
@media (min-width: 1536px) {
  /* Ajoute ici tes styles pour les écrans en pleine largeur */
  .icon-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills-presentations {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-inline: 1.2rem;
  }
  .skills-presentation {
    font-size: 55px;
  }
}
