/* Styles de base applicables à tous les thèmes */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "Popins", "Roboto", sans-serif;
  /* background-color: whitesmoke; */
}

body,
html,
#root {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  background-color: whitesmoke;
}

/* Dark Generalization */
.dark-theme {
  background-color: hsl(252, 50%, 4%);
  color: hsl(255, 46%, 95%);
  transition-property: background-color, color;
  transition-duration: 01.2s;
  transition-timing-function: ease-in-out;
}
.dark-theme html {
  background-color: hsl(252, 50%, 4%);
}
.dark-theme body {
  background-color: hsl(252, 50%, 4%);
}
.dark-theme #root {
  background-color: hsl(252, 50%, 4%);
}
::webkit-scrollbar {
  width: 1rem;
}
