.about {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}
.about-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1532px;
  border: 6px solid red;
  place-items: center;
}
.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10rem;
}
.about-left {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-left a {
  text-decoration: none;
  background-color: hsl(259, 64%, 58%);
  color: whitesmoke;
  padding: 17px 20px;
  cursor: pointer;
  font-style: normal;
  border: none;
  flex-grow: 0;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  margin-bottom: 5rem;
}
.about-container a:focus {
  outline: none;
}
.about-left a:hover {
  background-color: hsl(259, 47%, 48%);
  color: whitesmoke;
}
.about-text-presentation {
  flex-grow: 1;
  margin-bottom: 15px;
  margin-left: 0;
  text-decoration: none;
}
p {
  font-size: 17px;
}
.external-links .link-icon {
  padding: 10px;
}
.link-icon {
  font-size: 25px;
  text-decoration: none;
  color: #151618;
}
.about-image {
  max-width: 500px;
  max-height: 500px;
  width: 450px;
  height: 450px;
}

/* Responsive part  */

/* XS: Très petits appareils (moins de 640px) */
@media (max-width: 639px) {
  /* Ajoute ici tes styles pour les très petits écrans */
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "about-left" "about-right";
    row-gap: 0rem;
    align-items: center;
  }
  .about-image {
    width: 100%;
    height: 80%;
  }
  .about-left {
    order: 2;
  }
  .about-right {
    order: 1;
    padding-left: 0;
  }
  .about-left {
    font-size: 16px;
    padding: 10px 15px;
  }
  .link-icon {
    font-size: 25px;
  }
  .about-left,
  .about-right {
    width: 100%;
    margin: 10px 0;
  }
  .about-text-presentation {
    margin-bottom: 5px;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 2rem;
  }
}

/* SM: Petits appareils (640px et plus) */
@media (min-width: 640px) {
  /* Ajoute ici tes styles pour les petits écrans */
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "about-left" "about-right";
    row-gap: 0rem;
    align-items: center;
  }
  .about-image {
    width: 100%;
    height: 80%;
  }
  .about-left {
    order: 2;
  }
  .about-right {
    order: 1;
    padding-left: 0;
  }
  .about-left {
    font-size: 16px;
    padding: 10px 15px;
  }
  .link-icon {
    font-size: 25px;
  }
  .about-left,
  .about-right {
    width: 100%;
    margin: 10px 0;
  }
  .about-text-presentation {
    margin-bottom: 5px;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 2rem;
  }
}

/* MD: Appareils de taille moyenne (768px et plus) */
@media (min-width: 768px) {
  /* Ajoute ici tes styles pour les écrans de taille moyenne */
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "about-left" "about-right";
    row-gap: 0rem;
    column-gap: 0rem;
    align-items: flex-start;
    padding: 2rem;
  }
  .about-image {
    width: 370px;
    height: 370px;
    border-radius: 5px;
  }
  .about-left {
    order: 1;
    padding: 0;
    margin: 0;
  }
  .about-right {
    order: 2;
    padding-left: 8rem;
  }

  .about-left {
    font-size: 16px;
  }
  .link-icon {
    font-size: 25px;
  }
  .about-left,
  .about-right {
    width: 100%;
  }
  .about-text-presentation {
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 9rem;
  }
}

/* LG: Grands appareils (1024px et plus) */
@media (min-width: 1024px) {
  /* Ajoute ici tes styles pour les grands écrans */
  .about-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1532px;
    place-items: center;
    grid-template-areas: "about-left" "about-right";
    padding: 2rem;
    align-items: flex-start;
  }
  .about-image {
    width: 400px;
    height: 400px;
    /* margin-right: 2rem; */
    border-radius: 5px;
  }
  .about-left {
    order: 1;
    padding: 0;
    margin: 0;
  }
  .about-right {
    order: 2;
    padding-left: 10rem;
  }
  .about-left {
    font-size: 16px;
  }
  .link-icon {
    font-size: 30px;
  }
  .about-left,
  .about-right {
    width: 100%;
  }
  .about-text-presentation {
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 12rem;
  }
}

/* XL: Très grands appareils (1280px et plus) */
@media (min-width: 1280px) {
  /* Ajoute ici tes styles pour les très grands écrans */
  .about-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1532px;
    place-items: center;
    grid-template-areas: "about-left" "about-right";
    padding: 2rem;
  }
  .about-image {
    width: 450px;
    height: 450px;
    /* margin-right: 2rem; */
    border-radius: 5px;
  }
  .about-left {
    order: 1;
    padding: 0;
    margin: 0;
  }
  .about-right {
    order: 2;
    padding-left: 10rem;
    margin: 0;
  }
  .about-left {
    font-size: 16px;
  }
  .link-icon {
    font-size: 25px;
  }
  .about-left,
  .about-right {
    width: 100%;
  }
  .about-text-presentation {
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 15rem;
  }
}

/* FULL: Appareils pleine largeur */
@media (min-width: 1536px) {
  /* Ajoute ici tes styles pour les écrans en pleine largeur */
  .about-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1532px;
    place-items: center;
    grid-template-areas: "about-left" "about-right";
    padding: 2rem;
  }
  .about-image {
    width: 450px;
    height: 450px;
    /* margin-right: 2rem; */
    border-radius: 5px;
  }
  .about-left {
    order: 1;
    padding: 0;
    margin: 0;
  }
  .about-right {
    order: 2;
    padding-left: 18rem;
  }
  .about-left {
    font-size: 16px;
    /* padding: 10px 15px; */
    margin-left: 0;
  }
  .about-right {
    margin-right: 0;
  }
  .link-icon {
    font-size: 27px;
  }
  .about-left,
  .about-right {
    width: 100%;
  }

  .about-text-presentation {
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
  }
  .external-links .link-icon {
    padding: 10px;
  }
  #start {
    margin-top: 15rem;
  }
}
