.dark-theme {
  --background-color: hsl(252, 50%, 4%);
  --text-color: hsl(255, 46%, 95%);
}
.dark-theme * {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Header Section */
.dark-theme .header {
  background-color: hsla(252, 50%, 4%, 0.4);
  backdrop-filter: blur(5px); /* Flou de 5px */
  -webkit-backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease,
    var(--background-color) 0.3s ease;
}

.dark-theme .header.blur {
  --background-color: hsla(252, 50%, 4%, 0.8); /* Légèrement plus opaque */
  backdrop-filter: blur(10px) saturate(5%); /* Augmentation du flou */
  -webkit-backdrop-filter: blur(10px) saturate(5%);
}
.dark-theme .header .right {
  background: none;
}
.dark-theme .header .left {
  background: none;
}
.dark-theme .header .nav-toggle-button #fabars {
  color: transparent;
  background: none;
}
.dark-theme .theme-toggle-button {
  background: none;
}
.dark-theme #faState {
  background: none;
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}
.dark-theme .language-icons {
  background: none;
}
.dark-theme .language-menu {
  --background-color: hsl(206, 51%, 9%);
}
.dark-theme .language-button {
  --background-color: hsl(206, 51%, 9%);
}
.dark-theme .language-button-choice {
  background: none;
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}
.dark-theme .language-button-image-d {
  --background-color: hsl(206, 51%, 9%);
}
.dark-theme .language-button-image {
  --background-color: hsl(206, 51%, 9%);
}
.dark-theme .nav-toggle-button {
  --background-color: hsla(252, 50%, 4%, 0.4);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
  border-radius: 8px;
}

/* Career Section */
.dark-theme .verticalTimeElement {
  --background-color: none;
  --text-color: none;
}

/* Navbar Section */
.dark-theme .nav-bar {
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
  background: hsl(252, 50%, 4%);
}

.dark-theme .nav-item-link {
  --background-color: var(--background-color);
  --icon-color: var(--text-color);
  background-color: var(--background-color);
  color: var(--icon-color);
  border-radius: 8rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark-theme .nav-item-link:hover {
  background: hsl(259, 64%, 58%);
}
.dark-theme .nav-item-link:hover,
.nav-item-link.active {
  background-color: var(--nav-hover);
  color: var(--nav-bg);
  transition: none;
  transform: scale(1.1);
}
.dark-theme .nav-item-link:focus {
  outline: 2px solid var(--nav-hover);
}

/* About section */

/* Overview Section */
.dark-theme .services-types {
  --background-color: hsl(249, 50%, 13%);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}

/* Skills Section */
.dark-theme .icon-grid {
  --background-color: hsl(249, 50%, 13%);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}

/* Projects Section */
.dark-theme .projects {
  --background-color: hsl(208, 50%, 9%);
}
.dark-theme .project-presentation {
  --background-color: hsl(252, 50%, 4%);
}
/* ProjectCard Section */

/* Testimonial Section */

.dark-theme .testimonials-content {
  --background-color: hsl(249, 50%, 13%);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}
.dark-theme .testimonials-content:hover {
  box-shadow: -4px -1px 4px -4px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: -4px -1px 4px -4px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: -4px -1px 4px -4px rgba(0, 0, 0, 0.83);
}
.dark-theme .testimonial-post {
  --text-color: gray;
}

/* Footer Section */
.dark-theme .footer-contact {
  --background-color: hsl(249, 50%, 13%);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}

.dark-theme .link-icons {
  --background-color: hsl(252, 50%, 4%);
  --border-color: #171717;
  border: 0.1rem solid var(--border-color);
}
.dark-theme .link-icons:hover {
  box-shadow: -7px 16px 53px -3px rgba(11, 25, 35, 0.35) inset;
  -webkit-box-shadow: -7px 16px 53px -3px rgba(11, 25, 35, 0.35) inset;
  -moz-box-shadow: -7px 16px 53px -3px rgba(11, 25, 35, 0.35) inset;
}
