.footer-container {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  height: 300px;
}

.footer-contact {
  /* border: 4px solid blue; */
  height: 5.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.footer-copyright {
  /* border: 4px solid yellow; */
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(0, 0%, 16%);
}

.link-icons {
  text-decoration: none;
  padding: 1.3rem;
  font-size: 1.1rem;
  margin-inline: 2rem;
  border-radius: 100%;
  background-color: whitesmoke;
  border: 1px solid white;
  box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.11);
}
.link-icons {
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.link-icons:hover {
  box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.26) inset;
  -webkit-box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.26) inset;
  -moz-box-shadow: 9px 9px 40px -5px rgba(0, 0, 0, 0.26) inset;
  outline: none;
}
#footer-link-copyright {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: hsl(0, 0%, 16%);
}

.icon-link {
  color: #151618;
  border-radius: 100%;
  font-size: 1.15rem;
}

/* Responsive */

@media (max-width: 720px) {
  .footer-contact {
  }
  .link-icons {
    margin-inline: 1rem;
    font-size: 1.1rem;
    padding: 1.3rem;
  }
}

@media (max-width: 480px) {
  .link-icons {
    margin-inline: 0.98rem;
    font-size: 1.09rem;
    padding: 1.23rem;
  }
}
