.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  right: -100px;
  padding: 0.6rem;
  align-items: center;
  border-radius: 3rem;
  margin-right: 1.1rem;
  width: 3.6rem;
  transition: backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  z-index: 999;
}
.nav-bar {
  position: fixed;
  top: 360%;
  background-color: hsl(160, 9%, 94%);
  border: 2px solid white;
  box-shadow: 2px -4px 12px -7px rgba(0, 0, 0, 0.71) inset;
  -webkit-box-shadow: 2px -4px 12px -7px rgba(0, 0, 0, 0.71) inset;
  -moz-box-shadow: 2px -4px 12px -7px rgba(0, 0, 0, 0.71) inset;
  transition: transform 0.3s ease;
  transition-property: right 0.5s ease;
}

.nav-bar.visible {
  transform: translateX(-100px);
  pointer-events: auto;
}
.nav-bar.hidden {
  transform: translateX(100px);
}
.nav-item-link {
  font-size: 1.18rem;
  border-radius: 100%;
  padding: 7px 5px;
  color: hsl(252, 50%, 4%);
  background-color: hsl(160, 9%, 94%);
  border: none;
  stroke: none;
}
/* .nav-item-link:hover {
  background-color: hsl(259, 64%, 58%);
} */

.custom-icon-class {
  background-color: transparent;
  stroke: none;
}

.nav-bar .custom-icon-class {
  transition: color 0.4s ease, background-color 0.4s ease;
}
/* Responsive navbar */

@media (max-width: 768px) {
  .nav-bar {
    width: 3rem;
  }
  .nav-item-link {
    padding: 6px 3px;
    font-size: 1rem;
  }
}
