/* Variables pour centraliser les couleurs */
:root {
  --nav-bg: hsl(160, 9%, 94%);
  --nav-hover: hsl(259, 64%, 58%);
  --icon-color: hsl(252, 50%, 4%);
}

/* Styles principaux de la navbar */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(50%);
  width: 3.6rem;
  padding: 0.6rem;
  border-radius: 3rem;
  background-color: var(--nav-bg);
  border: 2px solid white;
  box-shadow: inset 2px -4px 12px -7px rgba(0, 0, 0, 0.71);
  transition: transform 0.3s ease, right 0.5s ease, backdrop-filter 0.3s ease;
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  z-index: 999;
}

/* États visible et caché de la navbar */
.nav-bar.visible {
  right: 30px;
  pointer-events: auto;
}

.nav-bar.hidden {
  right: -300px;
  pointer-events: none;
}

/* Styles pour les liens de la navbar */
.nav-item-link {
  font-size: 1rem;
  border-radius: 100%;
  padding: 10px;
  color: var(--icon-color);
  background-color: var(--nav-bg);
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item-link:hover {
  background-color: var(--nav-hover);
}

/* Styles pour les icônes */
.custom-icon-class {
  font-size: 24px;
  background-color: transparent;
  transition: color 0.4s ease;
}

/* Responsive navbar */
@media (max-width: 768px) {
  .nav-bar {
    width: 3.5rem;
    top: 100%;
    right: 10px;
  }

  .nav-item-link {
    font-size: 0.8rem;
    padding: 10px;
  }

  .custom-icon-class {
    font-size: 20px;
  }
}
