.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}
.project-card-img {
  height: 100%;
}
.project-card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #24292e !important;
  flex-wrap: wrap;
  padding: 0.2rem;
  margin: 0;
  height: 100%;
  width: 100%;
}
.externals-site-links {
  display: flex;
  margin-bottom: 1.2rem;
}

.site-link {
  display: flex;
  justify-content: center; /* Centré pour un alignement plus équilibré */
  align-items: center;
  text-decoration: none;
  width: 7rem;
  padding: 0.7rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.site-link.google {
  background-color: hsl(259, 64%, 58%);
  color: whitesmoke;
  margin-left: 1.2rem;
}

.site-link.google:hover {
  background-color: hsl(259, 47%, 48%);
}

.site-link.google .google-blank {
  color: hsl(259, 64%, 58%);
  transition: color 0.4s ease;
}

.site-link.google:hover .google-blank {
  color: hsl(259, 47%, 48%);
}

.site-link.github {
  background-color: #24292e;
  color: whitesmoke;
  margin-left: 1.2rem;
}

.site-link.github:hover {
  background-color: #24292a;
}

.site-link.github .github-blank {
  color: #24292e;
  transition: color 0.4s ease;
}

.site-link.github:hover .github-blank {
  color: #24292a;
}

.site-link span {
  color: whitesmoke;
  background-color: transparent;
}

.site-link:hover span {
  color: whitesmoke;
}

.site-blank {
  border-radius: 100%;
  border: none;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
  margin: 0;
}
.site-link {
  transition: all 0.3s ease;
}
#site-name {
  font-size: 1.5rem;
  font-weight: bold;
}
#site-description {
  font-size: 1.1rem;
  line-height: 1.4;
  flex-wrap: wrap;
}
#tags-unique {
  margin: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

#project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid whitesmoke !important;
}

/* Responsive */

/* XS: Très petits appareils (moins de 640px) */
@media (max-width: 639px) {
  /* Ajoute ici tes styles pour les très petits écrans */
  .project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1.2rem;
    width: 100%;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
  }
  .externals-site-links {
    margin-bottom: 0.6rem;
  }
  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.2rem;
    font-size: 1.04rem;
  }
  .site-link {
    width: 8rem;
    padding: 0.4rem;
  }
  #site-description {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  #site-name {
    font-size: 1.2rem;
  }
}

/* SM: Petits appareils (640px et plus) */
@media (min-width: 640px) {
  /* Ajoute ici tes styles pour les petits écrans */
  .project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
    width: 100%;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 4.5rem;
    padding-left: 0;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-evenly;
  }
  .externals-site-links {
    margin-bottom: 0.6rem;
  }
  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.2rem;
    font-size: 1.04rem;
  }
  .site-link {
    width: 8rem;
    padding: 0.4rem;
  }
  #site-description {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  #site-name {
    font-size: 1.2rem;
  }
}
/* MD: Appareils de taille moyenne (768px et plus) */
@media (min-width: 768px) {
  /* Ajoute ici tes styles pour les écrans de taille moyenne */
  .project-card {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-items: center;
    width: 89%;
    height: 100%;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 4.5rem;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1rem;
    height: 100%;
    width: 100%;
  }
  .externals-site-links {
    display: flex;
    margin-top: 1rem;
  }
  .site-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 7rem;
    padding: 0.7rem;
    transition: background-color 0.4s, color 0.4s !important;
  }

  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.2rem;
    font-size: 1.04rem;
  }
  .site-link {
    width: 8rem;
    padding: 0.4rem;
  }
  #site-description {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  #site-name {
    font-size: 1.2rem;
  }
}

/* LG: Grands appareils (1024px et plus) */
@media (min-width: 1024px) {
  /* Ajoute ici tes styles pour les grands écrans */
  .project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    height: 30rem;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 6rem;
    padding-left: 0;
    padding-right: 0;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #24292e;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 80%;
  }
  .externals-site-links {
    display: flex;
    margin-top: 1rem;
  }
  .site-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 7rem;
    padding: 0.5rem;
    transition: background-color 0.4s, color 0.4s;
  }
  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.4rem;
    font-size: 1.2rem;
  }
}

/* XL: Très grands appareils (1280px et plus) */
@media (min-width: 1280px) {
  /* Ajoute ici tes styles pour les très grands écrans */
  .project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    height: 30rem;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 6rem;
    padding-left: 0;
    padding-right: 0;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* color: #24292e !important; */
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 80%;
  }
  .externals-site-links {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .site-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 8rem;
    padding: 0.7rem;
    transition: background-color 0.4s, color 0.4s;
  }
  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.4rem;
    font-size: 1.2rem;
  }
}

/* FULL: Appareils pleine largeur */
@media (min-width: 1536px) {
  /* Ajoute ici tes styles pour les écrans en pleine largeur */
  .project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    height: 30rem;
  }
  .project-card-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 8rem;
    padding: 6rem;
    padding-left: 0;
    padding-right: 0;
  }
  .project-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #24292e;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 80%;
  }
  .externals-site-links {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .site-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 7rem;
    padding: 0.7rem;
    transition: background-color 0.4s, color 0.4s;
  }
  #tags-unique {
    /* border: 4px solid green; */
    padding: 0.4rem;
    font-size: 1.2rem;
  }
}
