.projects {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: auto;
  /* border: 5px solid red; */
}

.project-presentation {
  /* border: 8px solid yellow; */
  height: 300px;
}
.swiper-container {
  /* border: 8px solid green; */
  display: flex;
  height: 500px;
  width: 100%;
}
.project-header {
  font-weight: bold;
  font-size: 55px;
  padding: 1.7rem;
}

.project-phrases {
  font-size: 1.11rem;
  padding-bottom: 1.5rem;
  padding-left: 1.7rem;
}

.project-content {
  /* border: 4px solid blue; */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: none;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* .swiper-navigation {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.swiper-navigation-light {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-navigation-dark {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
