.projects {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: auto;
  /* border: 5px solid red; */
}

.project-presentation {
  /* border: 8px solid yellow; */
  height: 300px;
}
.swiper-container {
  /* border: 8px solid green; */
  display: flex;
  height: 500px;
  width: 100%;
}
.project-header {
  font-weight: bold;
  font-size: 55px;
  padding: 1.7rem;
  margin-left: 10.3rem;
}

.project-phrases {
  padding-bottom: 1.5rem;
  padding-left: 1.7rem;
  margin-left: 10.3rem;
}
.project-phrases p {
  font-size: 18px;
}

.project-content {
  /* border: 4px solid blue; */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: none;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
@media (max-width: 639px) {
  .project-header {
    font-size: 30px;
    font-weight: bold;
    margin-left: 0;
  }
  .project-phrases {
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-left: 0;
  }
  .project-phrases p {
    font-size: 15px;
  }
}

/* SM: Petits appareils ( 640px et plus) */
@media (min-width: 640px) {
  /* Ajoute ici tes styles pour les petits écrans */
  .project-header {
    font-size: 37px;
    font-weight: bold;
    margin-left: 0;
  }
  .project-phrases {
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-left: 0;
  }
  .project-phrases p {
    font-size: 15.5px;
  }
}

@media (min-width: 720px) {
  .project-header {
    font-size: 40px;
    font-weight: bold;
    margin-left: 4.3rem;
  }
  .project-phrases {
    padding-bottom: 0.7rem;
    padding-left: 0.8rem;
    margin-left: 5rem;
  }
  .project-phrases p {
    font-size: 17px;
  }
}

/* MD: Appareils de taille moyenne (768px et plus) */
@media (min-width: 768px) {
  /* Ajoute ici tes styles pour les écrans de taille moyenne */
  .project-header {
    font-size: 40px;
    font-weight: bold;
    margin-left: 10rem;
  }
  .project-phrases {
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    margin-left: 10rem;
  }
  .project-phrases p {
    font-size: 17px;
  }
}

/* LG: Grands appareils (1024px et plus) */
@media (min-width: 1024px) {
  /* Ajoute ici tes styles pour les grands écrans */
  .project-header {
    font-weight: bold;
    font-size: 45px;
    padding: 1.5rem;
    margin-left: 10.2rem;
  }

  .project-phrases {
    padding-bottom: 1.3rem;
    padding-left: 1.3rem;
    margin-left: 10.2rem;
  }
  .project-phrases p {
    font-size: 18px;
  }
}

/* XL: Très grands appareils (1280px et plus) */
@media (min-width: 1280px) {
  /* Ajoute ici tes styles pour les très grands écrans */
  .project-header {
    font-weight: bold;
    font-size: 50px;
    padding: 1.6rem;
    margin-left: 10.25rem;
  }

  .project-phrases {
    padding-bottom: 1.4rem;
    padding-left: 1.6rem;
    margin-left: 10.2rem;
  }
  .project-phrases p {
    font-size: 18px;
  }
}

/* FULL: Appareils pleine largeur */
@media (min-width: 1536px) {
  /* Ajoute ici tes styles pour les écrans en pleine largeur */
  .project-header {
    font-weight: bold;
    font-size: 55px;
    padding: 1.7rem;
    margin-left: 10.3rem;
  }

  .project-phrases {
    padding-bottom: 1.5rem;
    padding-left: 1.7rem;
    margin-left: 10.3rem;
  }
  .project-phrases p {
    font-size: 18px;
  }
}

/* .swiper-navigation {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.swiper-navigation-light {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-navigation-dark {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
