.projects {
  border: 1px solid black;
  position: relative;
  z-index: 0;
  height: 40rem;
}

.project-presentation {
}

.project-header {
}

.project-phrases {
}

.project-content {
}

.swiper-navigation {
}
