.career {
  position: relative;
  z-index: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  background: none;
  color: none;
  margin-top: 6.8rem;
}
.verticalTimeLine {
  background: none;
  color: none;
}
.vertical-timeline-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.download-resume {
  width: 16rem;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  background-color: hsl(259, 64%, 58%) !important;
  color: whitesmoke;
  padding: 10px 15px;
  cursor: pointer;
  font-style: normal;
  flex-grow: 0;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  margin-left: 3rem;
}

.download-resume #icon-resume-download {
  background-color: hsl(259, 64%, 58%) !important;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.download-resume:hover {
  background-color: hsl(259, 47%, 48%) !important;
}
.download-resume:hover #icon-resume-download {
  background-color: hsl(259, 47%, 48%) !important;
}
#icon-resume-download {
  border: none;
  color: hsl(0, 0%, 16%) !important;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.experience-title {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 55px;
  flex-wrap: nowrap;
}

/* XS: Très petits appareils (moins de 640px) */
@media (max-width: 639px) {
  /* Ajoute ici tes styles pour les très petits écrans */
  .experience-title {
    font-size: 35px;
  }
}

/* SM: Petits appareils (640px et plus) */
@media (min-width: 640px) {
  /* Ajoute ici tes styles pour les petits écrans */
  .experience-title {
    font-size: 37px;
    flex-wrap: nowrap;
  }
}

/* MD: Appareils de taille moyenne (768px et plus) */
@media (min-width: 768px) {
  /* Ajoute ici tes styles pour les écrans de taille moyenne */
  .experience-title {
    font-size: 38px;
  }
}

/* LG: Grands appareils (1024px et plus) */
@media (min-width: 1024px) {
  /* Ajoute ici tes styles pour les grands écrans */
  .experience-title {
    font-size: 43px;
  }
}

/* XL: Très grands appareils (1280px et plus) */
@media (min-width: 1280px) {
  /* Ajoute ici tes styles pour les très grands écrans */
  .experience-title {
    font-size: 55px;
  }
}

/* FULL: Appareils pleine largeur */
@media (min-width: 1536px) {
  /* Ajoute ici tes styles pour les écrans en pleine largeur */
  .experience-title {
    font-size: 55px;
  }
}
